{% extends "_head.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>huMon</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Leaderboard</h2>


            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>

            <div id="status">
            </div>

            <a href="#" onclick="getPicture()" class="btn btn-primary">Get picture</a>
        </div>
    </div>
</div>

{% endblock %}